@media (min-width: 1050px){
    /* .acknowledgement img {
        margin: 50px 20% 20px;
    } */
    .acknowledgement #left {
        height: 100px;
    }
    .acknowledgement #right {
        height: 80px;
    }
}

@media (max-width: 1051px){
    /* .acknowledgement img {
        align-self: right;
    } */
    .acknowledgement #left {
        height: 50px;
    }
    .acknowledgement #right {
        height: 40px;
    }
}

.acknowledgement {
    background-color: var(--orange);
    border-radius: 20px;
    padding: 10px 30px 10px;
    margin: 50px 5% 20px;
}

.acknowledgement H2 {
    color: var(--white);
    text-align: center;
}

.acknowledgement p span {
    font-weight: bold;
    color: var(--white);
}