:root {
    --dark-blue: #016a66;
    --blue: #018c96;
    --white: #f6ebf9;
    --yellow: #efb52b;
    --orange: #eb5401;
}
/* :root {
    --dark-blue: #0f1c08;
    --blue: #38550f;
    --white: #feb53d;
    --yellow: #fe7e18;
    --orange: #eb5201;
} */
/* :root {
    --dark-blue: #a5f531;
    --blue: #6dbb30;
    --white: #3e7319;
    --yellow: #244510;
    --orange: #0b1607;
} */
/* :root {
    --dark-blue: #a5a831;
    --blue: #bdd002;
    --white: #a8d681;
    --yellow: #4f8901;
    --orange: #1d3c02;
} */
/* :root {
    --dark-blue: #dc6d02;
    --blue: #fcb500;
    --white: #edc596;
    --yellow: #fd9a7e;
    --orange: #c43d16;
} */